on:
  schedule:
    - cron: '0 5 * * *'

name: Nightly CI for s390x

permissions: {}

jobs:
  check-internal-test-result:
    name: check-internal-test-result
    runs-on: s390x
    strategy:
      fail-fast: false
      matrix:
        environment: [
          { test_title: kata-vfio-ap-e2e-tests },
          { test_title: cc-vfio-ap-e2e-tests   },
          { test_title: cc-se-e2e-tests-go     },
          { test_title: cc-se-e2e-tests-rs     },
        ]
    steps:
    - name: Fetch a test result for {{ matrix.environment.test_title }}
      run: |
        file_name="${TEST_TITLE}-$(date +%Y-%m-%d).log"
        "/home/${USER}/script/handle_test_log.sh" download "$file_name"
      env:
        TEST_TITLE: ${{ matrix.environment.test_title }}
